*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
h1{
    display: inline-block;
    vertical-align: 15px;
}
body{
    background-color: #e6e6e6;
}
header{
    background-color: rgb(255, 255, 255);
}
.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.buttonblu {
    background-color: rgb(26, 156, 243);
    color: white;
    border-radius: 5px;
    padding: 5px;
    border-color: lightgray;
}
.buttonwhite {
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    color: lightgray;
    border-color: lightgray;
}
.margintop10{
    margin-top: 10px;
   
}
.toggle{
    font-size: 15px;
}
.tagblu{
    border-radius: 8px;
    background-color: rgb(26, 156, 243); 
    color: white;
    padding: 5px;
    font-size: 10px;
}
.tagViola{
    border-radius: 8px;
    background-color: rgb(182, 26, 243); 
    color: white;
    padding: 5px;
    font-size: 10px;
}
.tagvcq{
    border-radius: 8px;
    background-color: rgb(24, 151, 119); 
    color: white;
    padding: 5px;
    font-size: 10px;

}
.tagorang{
    border-radius: 8px;
    background-color: rgb(243, 156, 26); 
    color: white;
    padding: 5px;
    font-size: 10px;
}
.tagrosa{
    border-radius: 8px;
    background-color: rgb(231, 60, 131); 
    color: white;
    padding: 5px;
    font-size: 10px;
}
.taglime{
    border-radius: 8px;
    background-color: rgb(175, 204, 11); 
    color: white;
    padding: 5px;
    font-size: 10px;
}

ul{
    list-style-type: none;

     }
li{
    margin-bottom: 8px;
}

.checklist{
    font-size: 12px;
}
div{
    margin-bottom: 20px;
}